
body {
    font-family: 'Fira Sans', sans-serif !important;
    /* background-color: ghostwhite; */
    margin: 2%;

}
[data-amplify-authenticator]{
    position: relative;
    padding-top: 3.5%;
left: 38.5vw;
    }
[amplify-field-group__field-wrapper] {
    position: relative !important;
    left: 0vw !important;
}
#sMartLogo {
    position: absolute;
    transform: scale(0.65);
}
.amplify-button[data-variation=primary] 
{
    background-color: crimson !important;
}
.amplify-button[data-variation=primary]:hover 
{
    background-color:rgb(255, 0, 51) !important;
}

.profileInformationContainer {
    position: absolute;
    width: 30vw !important;
    background-color: ghostwhite;
    height: 73vh;
    display: flexbox;
    left: 35.5vw;
    top: 13vh;
    border-radius: 25%;

}

.welcomeTitle {

    font-weight: bolder;
    color: crimson;
    font-size: 5vw;
    text-align: center;
}

.card {
    position: fixed;
    right: 0vw;
}

.footerContainer {
    position: relative;

}

.birthdayHeader {
    font-weight: bolder;
}

.videoBody {
    width: 100%;
    height: 50vw;
    position: relative;
    z-index: 0;
    opacity: 0.2;
}

.profileInfoContainer {
    padding-left: 2.25vw;
    padding-top: 0.15vh;
}

.headerBolding {
    font-weight: bolder;
}
.profileTitle {
    font-weight: bold;
}
