
[data-amplify-authenticator]{
    position: relative;
    padding-top: 3.5%;
left: 38.5vw;
    }
[amplify-field-group__field-wrapper] {
    position: relative !important;
    left: 0vw !important;
}
#sMartLogo {
    position: absolute;
    transform: scale(0.65);
}
.amplify-button[data-variation=primary] 
{
    background-color: crimson !important;
}
.amplify-button[data-variation=primary]:hover 
{
    background-color:rgb(255, 0, 51) !important;
}

.profileInformationContainer {
    position: absolute;
    width: 25vw !important;
    background-color: ghostwhite;
    height: 73vh;
    display: flexbox;
    left: 35.5vw;
    top: 9vh;
    border-radius: 25%;
    text-align: center;

}

.welcomeTitle {

    font-weight: bolder;
    color: crimson;
    font-size: 5vw;
    text-align: center;
}

.card {
    position: fixed;
    right: 0vw;
}

.footerContainer {
    position: relative;
    top: 77vh !important;

}

.birthdayHeader {
    font-weight: bolder;
}

.videoBody {
    width: 100%;
    height: 50vw;
    position: relative;
    z-index: 0;
    opacity: 0.2;
}

.profileInfoContainer {
    padding-left: 0vw;
    padding-top: 0.15vh;
}

.headerBolding {
    font-weight: bolder;
}
.profileTitle {
    font-weight: bold;
}

.signoutButton {
    position: relative;
    left: 0%;
    margin: 2%;
    top: 5%;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    .profileInformationContainer {
        position: absolute;
        width: 60vw !important;
        background-color: ghostwhite;
        height: 73vh;
        display: flexbox;
        left: 20.5vw;
        top: 9vh;
        border-radius: 25%;
    
    }


    .profileInfoContainer {
        padding-left: 3vw;
        padding-top: 0.15vh;
    }
    .signoutButton {
        position: relative;
        left: 0%;
        margin: 2%;
        top: 2%;
    }


}


@media only screen and (min-width: 1120px) {
    .profileInformationContainer {
        position: absolute;
        width: 60vw !important;
        background-color: ghostwhite;
        height: 73vh;
        display: flexbox;
        left: 20.5vw;
        top: 9vh;
        border-radius: 25%;
    
    }


    .profileInfoContainer {
        padding-left: 3vw;
        padding-top: 0.15vh;
    }
    .signoutButton {
        position: relative;
        left: 0%;
        margin: 2%;
        top: 0%;
    }
}

@media only screen and (min-width: 1200px) {
    .profileInformationContainer {
        position: absolute;
        width: 60vw !important;
        background-color: ghostwhite;
        height: 73vh;
        display: flexbox;
        left: 20.5vw;
        top: 9vh;
        border-radius: 25%;
    
    }


    .profileInfoContainer {
        padding-left: 3vw;
        padding-top: 0.15vh;
    }
    .signoutButton {
        position: relative;
        left: 0%;
        margin: 2%;
        top: -5%;
    }
}

@media only screen and (min-width: 1400px) {
    .profileInformationContainer {
        position: absolute;
        width: 65vw !important;
        background-color: ghostwhite;
        height: 73vh;
        display: flexbox;
        left: 17.5vw;
        top: 9vh;
        border-radius: 25%;
    
    }


    .profileInfoContainer {
        padding-left: 0vw;
        padding-top: 0.15vh;
    }
    
    .signoutButton {
        position: relative;
        width: 5vw;
        left: 0%;
        font-weight: bolder;
        margin: 2%;
        top: 5%;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 599px) {
        .profileInformationContainer {
            position: absolute;
            width: 65vw !important;
            background-color: ghostwhite;
            height: 73vh;
            display: flexbox;
            left: 20.5vw;
            top: 9vh;
            border-radius: 25%;
        
        }
    
    
        .profileInfoContainer {
            padding-left: 3vw;
            padding-top: 0.15vh;
        }
        
        .signoutButton {
            position: relative;
            width: 12vw;
            left: 0%;
            font-weight: bolder;
            margin: 2%;
            top: 0%;
        }
    
    }
    

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 375px) {
    .profileInformationContainer {
        position: absolute;
        width: 75vw !important;
        background-color: ghostwhite;
        height: 73vh;
        display: flexbox;
        left: 13.5vw;
        top: 9vh;
        border-radius: 25%;
    
    }


    .profileInfoContainer {
        padding-left: 0vw;
        padding-top: 0.15vh;
        transform: scale(0.8);
    }
    
    .signoutButton {
        position: relative;
        width: 17vw;
        left: 37.5%;
        font-weight: bolder;
        margin: 2%;
        top: -9%;
    }


    
[data-amplify-authenticator]{
    position: relative;
    padding-top: 3.5%;
left: 0vw;
    }

}

