.carousel_body {
    position: relative;
transform: translateY(5%);
background-color: ghostwhite;
width: 70%;
left: 15%;
overflow-y: hidden;
z-index: -10 !important;
}

.container {
transform: scale(.95);
}

.videoBody {
    min-width: 17%;
    left: 11.25%;
    object-fit: contain;
    min-height: 10%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;


}

