body {
  font: 400 15px Rubik, sans-serif !important;

}

.navbarColours {
    background-color: ghostwhite;
}

  
  .searchboxContainer {
    position: relative;
    min-width: 55%;
transform: translateX(-30%); 
z-index: 999 !important;
 }
  
  .material-icons {
    color: crimson !important;
  }
  

.shoppingCartIcon {
  position: absolute;
  z-index: 1000;
  width: 100% !important;
  height: 100% !important;

}

.shoppingCartIcon:hover {
cursor: pointer;

}
  
  .right hide-on-med-and-down {
    position: inherit;
    margin-bottom: 30vh !important;
  }
  
  .nav-wrapper .input-field input[type="search"] {
    height: 5vh !important;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    border: 0;
    box-shadow: none;
  }
  .navbarProfileCardContainer {
    position: absolute;
    top: 7vh;
    right: -29vw;
    z-index: 500;
    width: 50vw;
    height: 50vh;
    box-shadow: 10%;
  }
  
  .card-content{
    color: black;
  }
  
  .profileCardCloseIcon {
    color: crimson;
    left: 0.5vw;
    position: relative;
    margin-top: 32vh !important;
    z-index: 100;
  }
  .navbarShoppingCardContainer
  {
    position: absolute;
    top: 7vh;
    right: -21vw;
    z-index: 500;
    width: 50vw;
    height: 50vh;
    box-shadow: 10%;
  }
  
  
  .shoppingCardCloseIcon {
    color: crimson;
    left: 0.5vw;
    position: relative;
    margin-top: 32vh !important;
    z-index: 100;
  }
  
  .shoppingCardTitle {
    position: absolute;
    font-weight:900;
    color: black !important;
    top: -2.5vh;
  }
  
.notSignedInText {
  position: relative;
  display: flex;
  font-size: 0.8rem;
  max-width: 5vw;
  color: crimson !important;
  animation-name: FadeIn;
  animation-duration: 3s;
  transition-timing-function: linear;
}

  .shoppingCardText {
    position: relative;
    top: 4vh;
  }
  
  .nav-wrapper {
    background-color:ghostwhite;
  }
  
  .brand-logo {
    left: -4vw;
    background-color: crimson;
    font-weight:900;
    text-align: center !important;
    padding-right: 0.8vw !important;
    padding-left: 0.7vw !important;
  
  }
  
  .navLogoIcon {
    color: aliceblue !important;
  }
  
  .smartLogoImg {
    position: absolute;
    top: -4.5vh;
    transform: scale(0.35);
  }
  
  
  .shoppingOverview {
    position: absolute;
    top: 7vh;
    right: -21vw;
    z-index: 500;
    width: 50vw;
    height: 50vh;
    box-shadow: 10%;
  }
  
  .profileIconSVG {
    position: relative;
    transform: scale(1);
    margin: 0%;
    padding: 0%;
    filter: invert(31%) sepia(90%) saturate(6221%) hue-rotate(344deg) brightness(93%) contrast(90%);

 }

.shoppingCartIcon {
  position: relative;
  filter: invert(31%) sepia(90%) saturate(6221%) hue-rotate(344deg) brightness(93%) contrast(90%) !important;
max-width: 1.7vw;
top: 1.3vh;
margin-left: 0.7vw;

}
 .navigationDropdownContainer {
   position:relative;
   right: 0vw;

 }

.navigationDropdownBox {
  display: block;
  position: absolute;
  /* top: 3vh; */
  top: 3vh !important;
z-index: 100 !important;  
}
.shoppingCartIconContainer{
  margin: 0%;
  padding: 0%;
}

.shoppingIconTitle {
  max-width: 10vw;
}

.yourAccountTitle {
  position: absolute;
  display: inline-grid;
  text-align: center;
  top: -50%;
  right: 0.3vw;
  font-size:0.7em !important;
}

.navbar-link {
  transform: rotate(2%);
}

.profileArrow {
  position: absolute !important;
  top: 20vh !important;
}

.yourAccountButtons {
  position: absolute;
  z-index: 9999 !important;
display: inline-flex;
transform: scale(0.8);
right: -4.5%;
}

.yourAccountTitleBurger {
  position: relative;
  font-size: 0.8em;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 430px) {
  .yourAccountButtons {
    position: absolute;
    z-index: 9999 !important;
  display: inline-flex;
  transform: scale(0.8);
  right: -4.5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .yourAccountButtons {
    position: absolute;
    z-index: 9999 !important;
  display: inline-flex;
  transform: scale(0.8);
  right: -3%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .yourAccountButtons {
    position: absolute;
    z-index: 9999 !important;
  display: inline-flex;
  transform: scale(0.8);
  right: -3%;
  }

  .navburgerContainer
  {
    position: relative;
right: k0vw;  
}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}