.paymentBannerContainer {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    border-bottom: 1px solid crimson;
    left: 38%;
}

.footerAuthorContainer {
    position: relative;
    top: 5vh !important;
}

@media only screen and (max-width: 1225px) {
    .paymentBannerContainer {
display: none !important;
        
    }
}