
.productImage {

    max-width: 20vw;
width: fit-content;    
margin-top: 5%;
margin-left: 25%;


}

.col1_container {
    background-color: ghostwhite;
}
.col2_container {
    padding-top: 0%;
}

.productStyleText {
    opacity: 0.5;
}


nav {
    z-index: 0 !important;
}




.shoppingBagCount {
position: relative;
color: blue;
z-index: 999;
}

.productShoppingCartButton {
    position: relative;
    margin-top: 5%;

}

.breadcrumbContainer {
    background-color: crimson;
}

.breadcrumbLinks {
    color: white !important;
}
.breadcrumbLinkActive {
    color: ghostwhite !important;
    text-decoration: underline;
}

.giscusContainer {
    margin: 2%;
}